<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>psistorm.alfed.leo</string>
	<key>connections</key>
	<dict>
		<key>02E1F4D6-8FF7-426B-B95E-08EB45949AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC652A86-C1F2-43AF-BD30-510EC00724E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31A8458D-3872-4F14-967E-9AD2A1327B9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53A64513-DADE-4DF5-986F-57AACE81D8AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC652A86-C1F2-43AF-BD30-510EC00724E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31A8458D-3872-4F14-967E-9AD2A1327B9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bastian Ohmer</string>
	<key>description</key>
	<string>Translate with Leo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Leo Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC652A86-C1F2-43AF-BD30-510EC00724E7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://dict.leo.org/ende/?lp=ende&amp;lang=en&amp;searchLoc=0&amp;cmpType=relaxed&amp;sectHdr=on&amp;spellToler=&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>31A8458D-3872-4F14-967E-9AD2A1327B9E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>de</string>
				<key>runningsubtext</key>
				<string>Retrieving suggestions from Leo</string>
				<key>script</key>
				<string>require('leoparser.php');
require('workflows.php');
$w = new Workflows();
$leo = new LeoParser();

$in = "{query}";
$url = "http://dict.leo.org/ende/?lp=ende&amp;lang=en&amp;searchLoc=0&amp;cmpType=relaxed&amp;sectHdr=on&amp;spellToler=&amp;search=".urlencode( $in );


$str = $w-&gt;request($url);
$options = $leo-&gt;get($str);

if ($options != array()) {
	foreach($options as $option) {
		$w-&gt;result(time(), $option[1], $option[1], $option[0], '02E1F4D6-8FF7-426B-B95E-08EB45949AFF.png', 'yes', $option[0]);
	}
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Get the german translation</string>
				<key>title</key>
				<string>Translate with Leo</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>02E1F4D6-8FF7-426B-B95E-08EB45949AFF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>en</string>
				<key>runningsubtext</key>
				<string>Retrieving results from Leo</string>
				<key>script</key>
				<string>require('leoparser.php');
require('workflows.php');
$w = new Workflows();
$leo = new LeoParser();

$in = "{query}";
$url = "http://dict.leo.org/ende/?lp=ende&amp;lang=en&amp;searchLoc=0&amp;cmpType=relaxed&amp;sectHdr=on&amp;spellToler=&amp;search=".urlencode( $in );


$str = $w-&gt;request($url);
$options = $leo-&gt;get($str);

if ($options != array()) {
	foreach($options as $option) {
		$w-&gt;result(time(), $option[0], $option[0], $option[1], '53A64513-DADE-4DF5-986F-57AACE81D8AB.png', 'yes', $option[1]);
	}
}
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Get the english translation</string>
				<key>title</key>
				<string>Translate with Leo</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53A64513-DADE-4DF5-986F-57AACE81D8AB</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02E1F4D6-8FF7-426B-B95E-08EB45949AFF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>31A8458D-3872-4F14-967E-9AD2A1327B9E</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>53A64513-DADE-4DF5-986F-57AACE81D8AB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DC652A86-C1F2-43AF-BD30-510EC00724E7</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.bastian-ohmer.de</string>
</dict>
</plist>
